.diagram-page {
  width: 1000px;
  margin: 10px auto 0;
}
.diagram-settings {
  margin-bottom: 50px;
  &__line {
    display: flex;
    div {
      margin-right: 10px
    }
    .limited-width {
      max-width: 110px;
    }
  }
  &__title {
    align-items: center;
    display: flex;
    max-width: 80px;
    padding-right: 120px;
    text-align: center;
  }
}
.am-charts-container {
  max-width: 700px;
  height: 550px;
  margin: 0 auto;
}