.diagram-page {
  width: 1000px;
  margin: 10px auto 0;
}
.diagram-settings {
  margin-top: 40px;
  margin-bottom: 50px;
  //height: 800px;
  //overflow-y: scroll;
  &__line {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    > div {
      padding-right: 10px;
    }
  }
  &__line, &__line-block {
    .limited-width {
      max-width: 150px;
    }
  }
  &__title {
    align-items: center;
    display: flex;
    max-width: 80px;
    padding-right: 120px;
    text-align: center;
  }
  &__subgroup-title {
    padding-bottom: 3px;
    border-bottom: 1px dashed #aaa;
    margin-bottom: 8px;
    font-style: italic;
    max-width: 80%;
  }
}
.chart-wrapper {
  margin: 40px auto auto;
  background: #fff;
  display: block;
  max-width: 880px;
  border-radius: 10px;
  padding: 15px 10px;
}
.am-charts-container {
  height: 550px;
  //margin: 40px auto 0;

  //background: #fff;
}