$content-white: #ffffff;

$border-radius: 16px;
$border-radius-small: 12px;

$box-shadow-light: 0 0 4px rgba(58, 79, 151, 0.04), 0 11px 10px rgba(58, 79, 151, 0.04), 0 62px 95px 12px rgba(58, 79, 151, 0.04);

$text-color-light: #222542;
$text-color-dark: #f8f8fA;

$menu-item-light: #f8f8fA;
$menu-item-dark: #ffffff;
