a {
  text-decoration: none !important;
}

.v-text-field--filled.v-input--dense > .v-input__control > .v-input__slot {
  min-height: 40px !important;
  &::before,
  &::after {
    content: none !important;
  }
}